*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* FONDO */
.bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #869bb9;
    overflow: hidden;
}

.bg .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}

.bg .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 100;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.bg .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.bg .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.bg .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}

/* FONDO */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 5rem;
    color: #000000;
    text-shadow: rgb(14, 17, 177) 1px 0 10px;
}

main {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/FondoBG.jpeg);
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navegacion {
    padding: 30px;
    background: hidden;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 120px;
}

.navegacion button {
    width: 25%;
    height: 100%;
    min-height: 60px;
    box-shadow: 0 0 5px 5px #746c6c;
    background-color: #746c6c;
    outline: none;
}

.navegacion button a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}